* {margin: 0 ; padding: 0 ;}

.cabecalho {background-color: #D3719F; display: flex; justify-content: space-around;}

.cabecalho-imagem1 {width: 20% ;}
.cabecalho-imagem2 {width: 10% ;}

.lista { display: flex; justify-content: space-around;}

.site { background-color: #D3719F;}


